*{margin: 0;padding: 0;}
li{list-style: none;/* 默认点*/}
#header{width: 100%;height: 40px;color: #FFFFFF;text-align: center;/* 左右居中*/background: #666;line-height: 40px;/* 上下居中*/position: fixed;z-index: 12;/* 提高header的有限级别*/}
#header button{height: 100%;padding: 1 5px;}
/* 两个button分居两侧*/#header button:nth-of-type(1){float: left;}
#header button:nth-of-type(2){float: right;}
body{height: 2000px;}
#vue_content{position: relative;top: 40px;overflow: hidden;/* 移除隐藏*/}
#vue_content .vue_list_cell p{background: #ccc;padding-left: 10px;}
#vue_content .vue_list_cell ul li{height: 50px;line-height: 50px;border-bottom: 1px solid #ccc;padding-left: 10px;}
#vue_content .list_cell_index{position: fixed;right: 10px;top: 50%;font-size: 20px;}
#vue_content .list_cell_index li{margin: 5px 0;}
#vue-alert{width: 100%;height: 100%;background: rgba(0,0,0,0.5);position: fixed;left: 0;top: 0;z-index: 20;display: none;/* 弹性盒子模型*/}
#vue-alert .vue-alert-content{width: 200px;height: 150px;background: white;border-radius: 5px;margin: auto;/* 配合盒子模型*/position: relative;}
#vue-alert .vue-alert-content .vue-alert-title{padding: 5px;border-bottom: 1px solid #ccc;}
#vue-alert .vue-alert-content .vue-alert-body{height: 50px;line-height: 50px;text-align: center;}
#vue-alert .vue-alert-button{position: absolute;/* 绝对定位之前必须给父容器相对定位*/right: 0;bottom: 0;}
#vue-alert .vue-alert-content button{margin: 25px;padding: 5px;bottom: 0px;}
